* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.title a {
    color: white;
}

input:focus {
    outline: none;
}

header {
    top: 0px;
    position: sticky;
}

a.home {
    color: #a9508b;
}

.nav1 {
    padding: 0.5rem;
    border-bottom: 1px solid magenta;
    padding: 2rem;
    color: white;
    background-color: #35424a;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.nav1 h1 {
    font-size: 1.6rem;
}

.nav1 span {
    color: #a9508b;
}

.nav-right ul {
    list-style: none;
    gap: 1rem;
    display: flex;
}

.about,
.services {
    color: white;
}

.right input {
    border: none;
    padding: 0.6rem;
}

.right button {
    background-color: #e8491d;
    color: white;
    border: none;
    padding: 0.5rem;
}

.right button:hover {
    cursor: pointer;
    background-color: #ee562c;
}

.image {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 405px;
    flex-flow: column nowrap;
    background-image: url(./img/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.image p {
    font-size: 1.3rem;
    margin-top: 15px;
}

.div1 {
    padding: 1.5rem;
    color: white;
    background-color: #35424a;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.language {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 250px;
    text-align: center;
    display: flex;
}

.language img {
    width: 80px;
}

.language h3 {
    margin: 15px 0;
}

.html {
    flex: 34%;
}

.html img {
    transition: 1s ease-in-out;
}

.html img:hover {
    transform: scale(1.5);
}

.css {
    flex: 34%;
}

.css img {
    transition: 1s ease-in-out;
}

.css img:hover {
    transform: scale(1.5);
}

.foto {
    flex: 34%;
}

.foto img {
    transition: 1s ease-in-out;
}

.foto img:hover {
transform: scale(1.5);
}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    background-color: #35424a;
}

footer p {
    color: white;
    margin-top: 1rem;
}